<table>
  <tr>
    <td>
      <label>Username</label>
    </td>
    <td>
      <input type="text" [(ngModel)]="login.username" #username="ngModel" />
    </td>
  </tr>
  <tr>
    <td>
      <label>Password</label>
    </td>
    <td>
      <input type="password" [(ngModel)]="login.password" #password="ngModel" />
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <input type="submit" (click)="submitform()" />
      <input type="submit" value="Cancel" [routerLink]="['/welcome']" />
    </td>
  </tr>
</table>
