<h1>Register User</h1>
<div>
	<form [formGroup]="form" (ngSubmit)="onSubmit()">
		<table>
			<tr>
				<th></th>
			</tr>
			<tr>
				<td><label >Name</label>
			</tr>
			<tr>
				<input id="Name" type="text" formControlName="name" >
		</tr>
			<tr>
				<label>Password</label>
			</tr>
			<tr>
				<input id="Password" type="text" formControlName="password">
		</tr>

			<tr>
				<label>Role</label>
			</tr>
			<tr>
				<select formControlName="Roleid">
          <option value="4">Buyer</option>
          <option value="3">Seller</option>
				</select>
			</tr>
			<br>
			<tr>
				<button type="submit" [disabled]="!form.valid" >Submit</button>
				<input type="submit" value="Cancel"  [routerLink]="['/welcome']" />
			</tr>
		</table>


	</form>
</div>